.encabezado {
    background: #c89b7b;
    color: #f7f3f4;
}


main {
    display: flex;
    background: #f7f3f4;
    width: 100%;
    justify-content: space-around;
    
    margin: 0 auto;
    height: auto;
    padding-top: 40px;
}

.input-texto{
  width: 600px;
  height: 300px;
  
}

.mensaje{
    width: 400px;
    height: 600px;
}

.encriptar, .desencriptar, .copiar{
width: 40%;
margin: 10px;
padding: 15px ;
font-size: 18px;
font-weight: bold;
color: #0A3871;
background: #c89b7b;
border: none;
border-radius: 5px;
transition: 1s all;
cursor: pointer;
}

.encriptar:hover{
    color: white;
    background: #a4243b;
    transform: scale(1.2);
}
.desencriptar:hover{
    color: white;
    background: #a4243b;
    transform: scale(1.2);
}
.copiar:hover{
    color: white;
    background: #a4243b;
    transform: scale(1.2);
}
.encriptar {
    margin-left: 3em;
}

.mensaje {
    background-image: url(imagenes/misterio.jpg);
    background-repeat: no-repeat;

}

.mensaje img {
    width: 100%;
}


footer{
    padding-top: 20px;
    padding-bottom: 20px ;
    background: #21070c;
    color: beige;
    text-align: center;
}

/*Media query*/
@media screen and (max-width:980px) {
   
   .img{
    visibility: hidden;
   }

   

  .encabezado{
    background: #0A3871;
  }
  .encabezado{
    background-image: url(imagenes/Vector2.png);
    background-repeat: no-repeat; 
    background-position: center;
  }

  main{
    height: auto;
        flex-direction: column;
       align-items: center;
    }
    .copiar , .encriptar, .desencriptar{
        width: 100%;
        margin: 10px 0;
    }
    
   
}

@media screen and (max-width:620px) {
    .encabezado{
       
        padding-bottom: 20px;
       
    }
   
    .copiar {
        width: 100%;
      
    }
    main{
       
        flex-direction: column;
       align-items: flex-start;
       padding-top: 20px;
       height: auto;
    }
    section{
        width: 100%;
    }
    .input-texto{
        width: 100%;
    }
   
    .encriptar, .desencriptar, .copiar{
        display: block;
        width: 100%;
    }
    .mensaje {
        width: 100%;
      
    }
}

